<form role="form" class="well well-sm form-horizontal top-border container", id="searchform">
		
		<div class="col-lg-6 col-md-6 col-sm-6">		
		<div class="form-group">		 
	    	<label  class="hidden-xxs col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">Customer Number</label>
	    	<div class=" col-xxs-12 col-lg-8 col-md-8 col-sm-8 col-xs-8">
	    		<input type="text"  id="customernumber" ng-model="custNo" typeahead="cu for cu in getCustomers($viewValue)" class="form-control input-sm"  maxlength="10"  placeholder="Customer Number" tabindex="2">
	    	</div>
	    	</div>
	    	<div class="form-group">
	    	<label class=" hidden-xxs col-md-4 col-sm-4 col-xs-4 col-lg-4 control-label">Postal Code</label>
	    	<div class="col-xxs-12 col-md-8 col-sm-8 col-xs-8  col-lg-8">
	    		 <input type="text" class="form-control input-sm" id="postalcode"  data-provide="typeahead" maxlength="10"  placeholder="postalcode" tabindex="3">	    	</div>		
	    	</div>
	    	<div class="form-group">
	    	<label  class=" hidden-xxs col-md-4 col-sm-4 col-xs-4  col-lg-4 control-label">Municipality</label>
	    	<div class="col-xxs-12 col-md-8 col-sm-8 col-xs-8 col-lg-8 ">
	    		<input type="text" class="form-control input-sm"  id="municipality" maxlength="10"  placeholder="Municapility" tabindex="4"> 
	    	</div>
	    	</div>
	    	<div class="form-group">
	    	<label class="hidden-xxs col-md-4 col-sm-4 col-xs-4  col-lg-4 control-label">Case Template</label>
		    <div class=" col-xxs-12 col-md-8 col-sm-8 col-xs-8 col-lg-8">
		    	<input type="text" class="form-control input-sm" id="caseTemplate"  placeholder="Case Template" tabindex="1">
		    </div>
		    </div>
		    <div class="form-group">
		    	<label class="hidden-xxs col-md-4 col-sm-4 col-xs-4 col-lg-4 control-label">Number of Installation</label>
		    	<div class="col-xxs-12 col-md-8 col-sm-8 col-xs-8 col-lg-8 ">
					<input type="text" class="form-control input-sm" id="nummberOfInstallation"  placeholder="Number of Installation" tabindex="1">
				</div>
		    </div>	
	    </div>   
	    
	    
	    <div class="col-lg-6 col-md-6 col-sm-6">	
		    <div class="form-group">
		    	<label class="hidden-xxs col-md-4 col-sm-4 col-xs-4 col-lg-4 control-label">Customer Name</label>
		    	<div class="col-xxs-12 col-md-8 col-sm-8 col-xs-8 col-lg-8 ">
					<!-- <input type="text" class="form-control input-sm" id="customername"  placeholder="Customer Name" tabindex="1"> -->
					<input type="text"  id="customername" ng-model="custoName" typeahead="cu for cu in getCustomerNames($viewValue)" typeahead-min-length=2 class="form-control input-sm"  maxlength="10"  placeholder="Customer Number" tabindex="2">
				</div>
		    </div>	
	    	<div class="form-group">
		    	<label class="hidden-xxs col-md-4 col-sm-4 col-xs-4 col-lg-4 control-label">Sales Concept</label>
		    	<div class="col-xxs-12 col-md-8 col-sm-8 col-xs-8 col-lg-8 ">
					<input type="text" class="form-control input-sm" id="salesconcept"  placeholder="Sales Concept" tabindex="1">
				</div>
		    </div>
		    <div class="form-group">
		    	<label class="hidden-xxs col-md-4 col-sm-4 col-xs-4 col-lg-4 control-label">Head End Folder</label>
		    	<div class="col-xxs-12 col-md-8 col-sm-8 col-xs-8 col-lg-8 ">
					<input type="text" class="form-control input-sm" id="headend"  placeholder="Head End Folder" tabindex="1">
				</div>
		    </div>   	    	
			<div class="form-group">
		    	<label class="hidden-xxs col-md-4 col-sm-4 col-xs-4 col-lg-4 control-label">Cable Unit Status</label>
		    	<div class="col-xxs-12 col-md-8 col-sm-8 col-xs-8 col-lg-8 ">
					<input type="text" class="form-control input-sm" id="custatus"  placeholder="Cable Unit Status" tabindex="1">
				</div>
		    </div>
		    <div class="form-group">
		    	<label class="hidden-xxs col-md-4 col-sm-4 col-xs-4 col-lg-4 control-label">Case Status</label>
		    	<div class="col-xxs-12 col-md-8 col-sm-8 col-xs-8 col-lg-8 ">
					<input type="text" class="form-control input-sm" id="caseStatus"  placeholder="Case Status" tabindex="1">
				</div>
		    </div>  	  		
	    	
	  	</div>
	  	<div class="form-group">
    	<div class="col-sm-10 col-xs-10 col-xxs-10">

		<a ui-sref="customer({cusNo: custNo})">
               <button id="search" type="submit" data-loading-text= "searching" title='search'  class="btn btn-primary" tabindex="9">Search</button>
        </a>
      	
        <input type="button" value='Clear' id="clearinput"  class="btn btn-default" tabindex="10" title="clear" />

       </div>
  		</div>
		
	</form>
