
<div id="wrapper">
	<!-- Sidebar -->
	
	 <div id="form_div">
			<div id="sidebar-wrapper">			 
				<div ui-view="cusTree"></div>
			  </div>
			  <div class="handle toogleButton" id="openButton" style="top: 430px;z-index:1058;">
					<span class="glyphicon glyphicon-chevron-left" style="color:white;"></span>
				</div>
	</div>

	<div class="handle toogleButton"  id="closeButton" style="display: none; top: 430px;position:absolute;margin-left:0px;z-index:1058;">
		<span class="glyphicon glyphicon-chevron-right" style="color:white;"></span>
	</div>

	<!-- Page Content -->

	<div id="page-content-wrapper">
		<div ui-view="tabs"></div>
	</div>

</div>


	<script>

	$("#closeButton").hide();
	
	$(".toogleButton").click(function() {
		
		$("#openButton").toggle();
		//angular.element(document.getElementById('insthtml')).scope().showcol = true;
	    	$('#form_div').animate({
		    	 width: 'toggle'
		    }, 200,function(){
		    	$("#closeButton").toggle();
		    });
			$("#wrapper").toggleClass("toggled");
         
	});
	
	$("#openButton").click(function(){
		var $scope =angular.element(document.getElementById('insthtml')).scope();
		$scope.$apply(function(){
			$scope.showCol = true;
		});
	});
	
	$("#closeButton").click(function(){
		var $scope =angular.element(document.getElementById('insthtml')).scope();
		$scope.$apply(function(){
			$scope.showCol = false;
		});
	});
	


	
</script>