<!-- partial-home.html -->


<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading " style="color: #337ab7;">
       Choose Search
      </div>
      <div class="panel-body">
      <div class="row  col-md-12"><a href="#/search/address">Address</a></div>
      <div class="row  col-md-12"><a href="#/search/customer">Customer</a></div>
      <div class="row  col-md-12"><a href="">Case</a></div>
      <div class="row  col-md-12"><a href="">Cable Unit Project</a></div>
      <div class="row  col-md-12"><a href="">Sales Concept</a></div>
      <div class="row  col-md-12"><a href="">Staff</a></div>
      <div class="row  col-md-12"><a href="">Street</a></div>
      <div class="row  col-md-12"><a href="">Supplier Requirements </a></div>
      </div>
     </div>
  </div>
</div>
<div ui-view></div>
