<!-- partial-home.html -->


<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading " style="color: #337ab7;" translate>
       choose_Search_page
      </div>
      <div class="panel-body">
      <div class="row  col-md-12"><a href="#/search/address" translate>choose_search_page_Address</a></div>
      <div class="row  col-md-12"><a href="#/search/customer" translate>choose_search_page_Customer</a></div>
      <div class="row  col-md-12"><a href="" translate>choose_search_page_Case</a></div>
      <div class="row  col-md-12"><a href="" translate>choose_search_page_CableUnitProject</a></div>
      <div class="row  col-md-12"><a href="" translate>choose_search_page_SalesConcept</a></div>
      <div class="row  col-md-12"><a href="" translate>choose_search_page_Staff</a></div>
      <div class="row  col-md-12"><a href="" translate>choose_search_page_Street</a></div>
      </div>
     </div>
  </div>
</div>
<div ui-view></div>
