<div ng-controller="instController"  id="insthtml" class="panel panel-default">
<div ng-show=" !isUndefined(displayingMsgType) && displayingMsgType=='success' "> 
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{displayingMsgContent}}
</div>
</div>
<div ng-show=" !isUndefined(displayingMsgType) && displayingMsgType=='failure' "> 
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{displayingMsgContent}}
</div>
</div>

<div ng-show="!isLoading" class=""> 
	  <input type="text" ng-model="valueForSearch" class="pull-right col-md-2 input-sm form-control" placeholder="Global Search......."  ng-change="searchData()"  style="width: 20%;"/>
	  </div>
<table st-table="displayed" st-safe-src="rowCollection" st-pipe="getIndtallations" class="table table-striped table-installations ">
		<thead>
		<tr>
			<th st-sort="streetname">Street Name</th>
			<th st-sort="houseno">House Number</th>
			<th st-sort="floor">Floor</th>
			<th st-sort="location">Location</th>
			<th st-sort="side">Side</th>
			<th>Status</th>
			<th ng-show="showCol" >Locality</th>
			<th  ng-show="showCol" st-sort="postalcode">Postal Code</th>
			<th  ng-show="showCol" st-sort="postalarea">Post- Area</th>
			<th  ng-show="showCol" st-sort="postalarea">Fra kundenr</th>
			<th ng-show="showCol"  st-sort="postalarea">Til kundenr</th>
			<th  ng-show="showCol" st-sort="movingdate">Movement Date</th>
			

		</tr>
		</thead>
		<tbody ng-show="!isLoading">
		<tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in displayed">
			<td>{{row.address.streets.streetname}}</td>
			<td>{{row.address.houseno}}</td>
			<td>{{row.address.floor}}</td>
			
			<td><input type="text" class="form-control"></td>
			<td>{{row.address.door}}</td>
			<td><select ng-model="statusSelected" class="form-control"
                ng-options="opt as opt.label for opt in options">
            </select></td>
            <td ng-show="showCol"></td>
			<td ng-show="showCol">{{row.address.postalcode}}</td>
			<td ng-show="showCol">{{row.address.streets.municipalities.municipalityname}}</td>
			<td ng-show="showCol"></td>
			<td ng-show="showCol"></td>
			<td ng-show="showCol">{{row.movingdate | date}}</td>
			
			
<!-- 			<td>{{row.address.streets.streetcode}}</td> -->
<!-- 			<td>{{row.address.streets.municipalities}}</td> -->
<!-- 			<td>{{row.address.streets.municipalities.municipalitycode}}</td> -->
<!-- 			<td>{{row.address.streets.municipalities.municipalityname}}</td> -->
<!-- 			<td>{{row.address.streets.municipalities.regions.regionid}}</td> -->
<!-- 			<td>{{row.address.streets.municipalities.regions.}}</td> -->
<!-- 			<td>{{row.address.streets.municipalities.regions.}}</td> -->
<!-- 			<td>{{row.address.streets.municipalities.regions.}}</td> -->
<!-- 			<td>{{row.address.streets.}}</td> -->
<!-- 			<td>{{row.address.streets.}}</td> -->
<!-- 			<td>{{row.address.streets.}}</td> -->

		</tr>
		</tbody>
		<tbody ng-show="isLoading">
			<tr>
				<td colspan="14" class="text-center"><div class="loading-indicator"></div>
				</td>
			</tr>
		</tbody >
		<tfoot ng-show="!isLoading">
		<tr>
			<td class="text-center" st-pagination="" colspan="4">
			</td>
		</tr>
		</tfoot>
	</table>
 	<div class="well center-block blackBorder" style="width:98%">
    	<a ui-sref="address({cusNo: custNo})">
               <button id="addInstallations"  class="btn btn-default" >Add Installations</button>
        </a>
	</div>
</div>

