<div ng-controller="instController"  id="insthtml" class="panel panel-default">
<div ng-show=" !isUndefined(displayingMsgType) && displayingMsgType=='success' "> 
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{displayingMsgContent}}
</div>
</div>
<div ng-show=" !isUndefined(displayingMsgType) && displayingMsgType=='failure' "> 
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{displayingMsgContent}}
</div>
</div>

<div ng-show="!isLoading" class="" style="padding:5px;"> 
    	
	 
	  <div class="col-md-12">
		</br>
		<a ui-sref="address({cusNo: custNo})" tooltip="Add Installations">
                 <button id="addInstallations" drools-check="drools" drools-constraint="addInstallations"   class="btn btn-xs btn-primary" ng-disabled="true">Add Installations</button>
        </a>
      	 <button type="button" drools-check="drools" drools-constraint="removeInstallations" class="btn btn-xs btn-primary" ng-disabled="true">Remove Installations</button>
		 <button type="button" drools-check="drools" drools-constraint="move" class="btn btn-xs  btn-primary" ng-disabled="true">Move</button>
		 <button type="button" drools-check="drools" drools-constraint="undoMovement" ng-show="showCol" class="btn btn-xs  btn-primary" ng-disabled="true">Undo Movement</button>
		 <button type="button" drools-check="drools"  drools-constraint="viewHistory" ng-show="showCol" class="btn btn-xs  btn-primary" ng-disabled="true">Select Installations to XAL</button>
		<!-- 		 <button type="button" drools-check="drools" drools-constraint="viewHistory" ng-show="showCol" class="btn btn-xs  btn-primary" ng-disabled="true">View History</button> -->
			<button type="button"  ng-show="showCol" tooltip="View History" class="btn btn-xs  btn-primary" ng-click="open('lg')" >View History</button>
<!-- 		 <button type="button" drools-check="drools" drools-constraint="exportExcel" class="btn btn-xs  btn-primary glyphicon glyphicon-export" ng-click="exportToElsInstallations()" ng-disabled="true"></button> -->
		 <a href="/kiss-rest/exportToExcel/installations/" tooltip="Export to Excel"   class="btn btn-xs  btn-primary glyphicon glyphicon-export"></a>		 		 		 
		<input type="text" ng-model="valueForSearch" class="pull-right col-md-2 input-sm form-control" placeholder="Global Search......."  ng-change="searchData()"  style="width: 20%;"/>
       </div>
</div>
<table st-table="displayed" st-safe-src="rowCollection" st-pipe="getIndtallations" class="table table-striped table-installations table-condensed">
		<thead>
		<tr>
			
			<th st-sort="streetname">Street Name</th>
			<th st-sort="houseno">House Nr.</th>
			<th st-sort="floor">Floor</th>
			<th st-sort="location">Location</th>
			<th st-sort="side">Side</th>
			<th>Status</th>
			<th ng-show="showCol" >Locality</th>
			<th  ng-show="showCol" st-sort="postalcode">Postal Code</th>
			<th  ng-show="showCol" st-sort="postalarea">Post-Area</th>
			<th  ng-show="showCol" st-sort="postalarea">Fra kundenr</th>
			<th ng-show="showCol"  st-sort="postalarea">Til kundenr</th>
			<th  ng-show="showCol" st-sort="movingdate">Movement Date</th>
			

		</tr>
		</thead>
		<tbody ng-show="!isLoading">
		<tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in displayed">
			<td><div id="notePopover"><span  tooltip-placement="auto" popover-template="notes.templateUrl" popover-title="{{notes.title}}" ><a class="glyphicon glyphicon-edit"/></span></div>&nbsp;&nbsp;<a popover="{{row.address.postalcode}} : {{row.address.streets.municipalities.municipalityname}}" popover-title="Postal Code : Post-Area"  popover-trigger="mouseenter">{{row.address.streets.streetname}}</a>
			</td>
			<td>{{row.address.houseno}}</td>
			<td>{{row.address.floor}}</td>
			
			<td><input drools-check="drools" drools-constraint="removeInstallations" type="text" ng-disabled="true"></td>
			<td>{{row.address.door}}</td>
			<td><select ng-model="statusSelected" 
                ng-options="opt as opt.label for opt in options">
            </select></td>
            <td ng-show="showCol"></td>
			<td ng-show="showCol">{{row.address.postalcode}}</td>
			<td ng-show="showCol">{{row.address.streets.municipalities.municipalityname}}</td>
			<td ng-show="showCol"></td>
			<td ng-show="showCol"></td>
			<td ng-show="showCol">{{row.movingdate | date}}</td>
			
			
<!-- 			<td>{{row.address.streets.streetcode}}</td> -->
<!-- 			<td>{{row.address.streets.municipalities}}</td> -->
<!-- 			<td>{{row.address.streets.municipalities.municipalitycode}}</td> -->
<!-- 			<td>{{row.address.streets.municipalities.municipalityname}}</td> -->
<!-- 			<td>{{row.address.streets.municipalities.regions.regionid}}</td> -->
<!-- 			<td>{{row.address.streets.municipalities.regions.}}</td> -->
<!-- 			<td>{{row.address.streets.municipalities.regions.}}</td> -->
<!-- 			<td>{{row.address.streets.municipalities.regions.}}</td> -->
<!-- 			<td>{{row.address.streets.}}</td> -->
<!-- 			<td>{{row.address.streets.}}</td> -->
<!-- 			<td>{{row.address.streets.}}</td> -->

		</tr>
		</tbody>
		<tbody ng-show="isLoading">
			<tr>
				<td colspan="14" class="text-center"><div class="loading-indicator"></div>
				</td>
			</tr>
		</tbody >
		<tfoot ng-show="!isLoading">
		<tr>
        <td colspan="4" class="text-center">
            <div class="pullcenter" st-pagination="" st-template="content/templates/pagination.html"></div>
        </td>
			
		</tr>
		</tfoot>
	</table>
</div>
