<div ng-controller="instController"  data-ng-init="init()" class="panel panel-default">

<table st-table="displayed" st-safe-src="rowCollection" st-pipe="callServer" class="table table-striped">
		<thead>
			<tr>
				<th colspan="4"><input st-search="" class="pull-right form-control input-sm " placeholder="Search.." type="text" style="width: 20%;"/></th>
			</tr>
		<tr>
			<th st-sort="id">id</th>
			<th st-sort="addressid">Addressid</th>
			<th st-sort="startdate">Start Date</th>
			<th st-sort="enddate">End Date</th>
		</tr>
		</thead>
		<tbody ng-show="!isLoading">
		<tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in displayed">

		
			<td>{{row.id}}</td>
			<td>{{row.addressid}}</td>
			<td>{{row.startdate}}</td>
			<td>{{row.enddate}}</td>
		</tr>
		</tbody>
		<tbody ng-show="isLoading">
		<tr>
			<td colspan="4" class="text-center">Loading ... </td>
		</tr>
		</tbody>
		<tfoot>
		<tr>
			<td class="text-center" st-pagination="" st-items-by-page="10" colspan="4">
			</td>
		</tr>
		</tfoot>
	</table>
 	<div class="well center-block blackBorder" style="width:98%">
    	<a ui-sref="address({cusNo: custNo})">
               <button id="addInstallations"  class="btn btn-default" >Add Installations</button>
        </a>
	</div>
</div>

