<div ng-controller="modalAddressInstanceCtrl" >
        <div class="">
            <h3 class="">Popup Find Address</h3>
        </div>

	<form role="form" class="form-horizontal well well-sm form-horizontal top-border container"  id="searchform" name="searchform" ng-submit="processForm()">
		
		<div class="col-lg-6 col-md-6 col-sm-6">	
		<div class="form-group">		 
	    	<label  class="hidden-xxs col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">Street Name</label>
	    	<div class=" col-xxs-12 col-lg-8 col-md-8 col-sm-8 col-xs-8">
	    		<input type="text" class="form-control input-sm"  ng-model="streetname"  id="streetname" ng-model="streetname"  data-provide="typeahead"   placeholder="Street Name" tabindex="2">
	    	</div>
	    </div>
	    <div class="form-group">
	    	<label class=" hidden-xxs col-md-4 col-sm-4 col-xs-4 col-lg-4 control-label">Street Number First</label>
	    	<div class="col-xxs-12 col-md-8 col-sm-8 col-xs-8  col-lg-8">
	    		<input type="text" class="form-control input-sm" id="streetNumberFirst"  ng-model="streetname"  data-provide="typeahead"  placeholder="Street Number First" tabindex="3">
	    	</div>		
	    </div>
	    <div class="form-group">
	    	<label  class=" hidden-xxs col-md-4 col-sm-4 col-xs-4  col-lg-4 control-label">Street Number Last</label>
	    	<div class="col-xxs-12 col-md-8 col-sm-8 col-xs-8 col-lg-8 ">
	    		<input type="text" class="form-control input-sm"  id="streetNumberLast"  ng-model="streetname"   placeholder="Street Number Last" tabindex="4">
	    	</div>
	    </div>
	    <div class="form-group">
	    	<label class="hidden-xxs col-md-4 col-sm-4 col-xs-4  col-lg-4 control-label">Postal Code</label>
		    <div class=" col-xxs-12 col-md-8 col-sm-8 col-xs-8 col-lg-8">
		    	<input type="text" class="form-control input-sm" id="postalCode"  ng-model="postalcode"  placeholder="Postal Code" tabindex="1">
		    </div>
		</div>
		 <div class="form-group">
		    	<label class="hidden-xxs col-md-4 col-sm-4 col-xs-4 col-lg-4 control-label">Locality</label>
		    	<div class="col-xxs-12 col-md-8 col-sm-8 col-xs-8 col-lg-8 ">
					<input type="text" class="form-control input-sm" id="locality"  placeholder="Locality" tabindex="1">
		    </div>	
		  </div>
			<div class="form-group">
		    	<label class="hidden-xxs col-md-4 col-sm-4 col-xs-4 col-lg-4 control-label">Postal Area</label>
		    	<div class="col-xxs-12 col-md-8 col-sm-8 col-xs-8 col-lg-8 ">
					<input type="text" class="form-control input-sm" id="postalArea"  ng-model="postalcode" placeholder="Postal Area" tabindex="1">
				</div>
		    </div>
			<div class="form-group">
		    	<label class="hidden-xxs col-md-4 col-sm-4 col-xs-4 col-lg-4 control-label">Location</label>
		    	<div class="col-xxs-12 col-md-8 col-sm-8 col-xs-8 col-lg-8 ">
					<input type="text" class="form-control input-sm" id="location"  placeholder="Location" tabindex="1">
				</div>
		    </div>
	    </div>   
	    
	    
	    <div class="col-lg-6 col-md-6 col-sm-6">	
		    <div class="form-group">
		    	<label class="hidden-xxs col-md-4 col-sm-4 col-xs-4 col-lg-4 control-label">Municipality</label>
		    	<div class="col-xxs-12 col-md-8 col-sm-8 col-xs-8 col-lg-8 ">
					<input type="text" class="form-control input-sm" id="municipality"  ng-model="municipalityname"  placeholder="Municipality" tabindex="1">
				</div>
		    </div>	
	    	<div class="form-group">
		    	<label class="hidden-xxs col-md-4 col-sm-4 col-xs-4 col-lg-4 control-label">Customer</label>
		    	<div class="col-xxs-12 col-md-8 col-sm-8 col-xs-8 col-lg-8 ">
					<input type="text" class="form-control input-sm" id="customer"  placeholder="Customer" tabindex="1">
				</div>
		    </div>
		    <div class="form-group">
		    	<label class="hidden-xxs col-md-4 col-sm-4 col-xs-4 col-lg-4 control-label">Side Door First</label>
		    	<div class="col-xxs-12 col-md-8 col-sm-8 col-xs-8 col-lg-8 ">
					<input type="text" class="form-control input-sm" id="sideDoorFirst"  ng-model="door" placeholder="Side Door First" tabindex="1">
				</div>
		    </div>   	    	
			<div class="form-group">
		    	<label class="hidden-xxs col-md-4 col-sm-4 col-xs-4 col-lg-4 control-label">Side Door Last</label>
		    	<div class="col-xxs-12 col-md-8 col-sm-8 col-xs-8 col-lg-8 ">
					<input type="text" class="form-control input-sm" id="SideDoorLast"    placeholder="Side Door Last" tabindex="1">
				</div>
		    </div>
		    <div class="form-group">
		    	<label class="hidden-xxs col-md-4 col-sm-4 col-xs-4 col-lg-4 control-label">Stair Case</label>
		    	<div class="col-xxs-12 col-md-8 col-sm-8 col-xs-8 col-lg-8 ">
					<input type="text" class="form-control input-sm" id="stairCase"  placeholder="Stair Case" tabindex="1">
				</div>
		    </div>  	  		
	    	
			<div class="form-group">
		    	<label class="hidden-xxs col-md-4 col-sm-4 col-xs-4 col-lg-4 control-label">Floor</label>
		    	<div class="col-xxs-12 col-md-8 col-sm-8 col-xs-8 col-lg-8 ">
					<input type="text" class="form-control input-sm" id="floor" ng-model="floor"  placeholder="Floor" tabindex="1">
				</div>
		    </div>  
			<div class="form-group">
		    	<label class="hidden-xxs col-md-4 col-sm-4 col-xs-4 col-lg-4 control-label">Even/Odd (E/O)</label>
		    	<div class="col-xxs-12 col-md-8 col-sm-8 col-xs-8 col-lg-8 ">
					<div class="checkbox">
						  <label>
						 	<input type="checkbox" value="">
						</label>
												  <label>
						 	<input type="checkbox" value="">
						</label>
					</div>
				</div>
		    </div>  
			<div class="form-group">
		    	<label class="hidden-xxs col-md-4 col-sm-4 col-xs-4 col-lg-4 control-label">Temporary</label>
		    	<div class="col-xxs-12 col-md-8 col-sm-8 col-xs-8 col-lg-8 ">
					<div class="checkbox">
						  <label>
						 	<input type="checkbox" value="">
						 </label>
					</div>
				</div>
		    </div>  
	  	</div>

		<div class="form-group">
    	<div class="col-sm-10 col-xs-10 col-xxs-10">
			
		      	<div ng-show="fromInstallations == true">
		      		<button id="search" type="submit" data-loading-text= "searching" title='search'  class="btn btn-default" tabindex="9">Search</button>
					<button id="clear" type="clear" data-loading-text= "clear"  ng-click="clear()" class="btn btn-default" tabindex="9">Clear</button>
			      	<a ui-sref="customer({cusNo: custNo})">
			               <button  class="btn btn-default" tabindex="9">Cancel</button>
			        </a>
		        	<button id="addselected"  ng-click="addSelected()" class="btn btn-default" tabindex="9">Add Selected</button>
		        </div>
		         <div ng-hide="fromInstallations == true">
		         	<button id="search" type="submit" data-loading-text= "searching" title='search'  class="btn btn-default" tabindex="9">Search</button>
					<button id="clear" type="clear" data-loading-text= "clear"  ng-click="clear()" class="btn btn-default" tabindex="9">Clear</button>
			        <a ui-sref="home">
			               <button  class="btn btn-default" tabindex="9">Cancel</button>
			        </a>
		        	<button id="addselected"  ng-click="addSelected()" class="btn btn-default" tabindex="9">Delete</button>
		        </div>
       </div>
  		</div>
	 </form>  

<div ng-if="showAddress == true" class="well well-white table-responsive">
<table st-table="displayedCollection"  st-pipe="getPaginatedData" st-safe-src="rowCollection" class="table table-striped ">
		<thead>
		<tr>
			
			<th st-sort="id"></th>
			<th st-sort="door">Door</th>
			<th st-sort="floor">Floor</th>
			<th st-sort="houseno">House No</th>
			<th st-sort="placename">Place Name</th>
			<th st-sort="postalcode">Postal Code</th>
			<th st-sort="createddate">Created Date</th>
			<th st-sort="source">Source</th>
			<th st-sort="streetcode">Street Code</th>
			<th st-sort="streetname">Street Name</th>
			<th st-sort="municipalitycode">Municipality Code</th>
			<th st-sort="municipalityname">Municipality Name</th>
			<th st-sort="regionid">Region Id</th>
			<th st-sort="regionname">Region Name</</th>
		</tr>
		</thead>
		<tbody ng-show="isLoading">
			<tr>
				<td colspan="14" class="text-center"><div class="loading-indicator"></div>
				</td>
			</tr>
		</tbody >
		<tbody ng-show="!isLoading">
		<tr ng-repeat="row in displayedCollection">

			<td cs-select="row"><input type="checkbox"></td>
			<td>{{row.door}}</td>
			<td>{{row.floor}}</td>
			<td>{{row.houseno}}</td>
			<td>{{row.placename}}</td>
			<td>{{row.postalcode}}</td>
			<td>{{row.createddate}}</td>
			<td>{{row.streets.source}}</td>
			<td>{{row.streets.streetcode}}</td>
			<td>{{row.streets.streetname}}</td>
			<td>{{row.streets.municipalities.municipalitycode}}</td>
			<td>{{row.streets.municipalities.municipalityname}}</td>
			<td>{{row.streets.municipalities.regions.regionid}}</td>
			<td>{{row.streets.municipalities.regions.regionname}}</td>
		</tr>
		</tbody>
		<tfoot>
		<tr>
			<td class="text-center" st-pagination="" colspan="4">
			</td>
		</tr>
		</tfoot>
	</table>
</div>
	</div>		
      


   



